.NoteList {
    background-color: white;
    border-right: 1px solid black;

    .newNoteBtn {
        background-color: rgb(71, 71, 71);
        font-weight: bold;
        color: white;
        padding: 8px 10px;
        cursor: pointer;
    }
    .newNoteBtn:hover {
        background-color: rgb(46, 46, 46);
    }
    .note {
        padding: 8px 10px;
        cursor: pointer;
    }
    .note:hover {
        background-color: rgb(209, 209, 209);
    }
    .active {
        background-color: rgb(209, 209, 209);
    }
}