.NoteList {
    background-color: lightseagreen;

    .newNoteBtn {
        background-color: rgb(0, 119, 255);
        padding: 8px 10px;
        cursor: pointer;
    }
    .newNoteBtn:hover {
        background-color: rgb(22, 155, 137);
    }
    .note {
        padding: 8px 10px;
        cursor: pointer;
    }
    .note:hover {
        background-color: darken(lightseagreen, 10%);
    }
    .active {
        background-color: darken(lightseagreen, 10%);
    }
}