.NoteEdit {
    background-color: white;

    .noteEditBox {
        padding: 10px;

        button {
            padding: 5px;
            margin: 5px;
        }

        .noteEditTitle {
            background-color: transparent;
            border: none;
            font-size: 25px;
            font-weight: bold;
            display: block;
            padding: 10px 0;
        }

        .noteEditBody {
            background-color: transparent;
            overflow-y: scroll;
            width: 100%;
            padding: 0;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 18px;
            height: 500px;
            display: block;
            padding: 10px 0;
            border: none;
        }
    }

    .selectMessage {
        text-align: center;
        font-size: 22px;
        padding-top: 20px;
    }
}